= render 'header'

.container-fluid.showEvent
  .row.titleRow
    .col.col-sm-6.title
      %p About #{@event.title}
    .col.col-sm-6.signUp
      = link_to 'Sign Up', new_event_booking_path(@event)
  .row.descRow
    .col.col-sm-6.host
      %p.host Hosted by: #{@event.host}
    .col.col-sm-6.timeDate
      .row.time
        %p Date: #{@event.date}
      .row.date
        %p Time: #{@event.start_time_string} to #{@event.end_time_string}
  .row.descRow.pad
    %p.location Location: #{@event.location}
  .row.descRow.pad
    %p.description Description: #{@event.description}
  .row.descRow.pad
    %p Going:
    - @bookings.each do |booking|
      .col-sm-4
        %p= booking.user.name
      .col-sm-4  
        %p= booking.user.email
      .col-sm-4
        = link_to 'Edit Booking', edit_event_booking_path(@event, booking)
  %br
  .row.descRow.pad
    - if @current_user.id == @event.user_id 
      %span.clickable= link_to 'Edit Event', edit_event_path(@event)
    %span.clickable= link_to 'Back', events_path
  %br
    

// %p
//   %b Title:
//   = @event.title
// %p
//   %b Host:
//   = @event.host
// %p
//   %b Date:
//   = @event.date
// %p
//   %b Start time:
//   = @event.start_time_string
// %p
//   %b End time:
//   = @event.end_time_string
// %p
//   %b Location:
//   = @event.location
// %p
//   %b Description:
//   = @event.description
// %p
//   -# outdoor - study - club
//   -#= render (:partial => @event.category, :locals => {:event => @traits})
  
//   %b Who's Going??
// %table#bookings
//   %thead
//     %tr
//       %th Name  
//       %th 
//       %th Email
//   %tbody
//     - @bookings.each do |booking|
//       %tr
//         %td= booking.user.name
//         %td
//         %td= booking.user.email
//         %td
//         %td= link_to 'Edit', edit_event_booking_path(@event, booking)

-# Don't confuse with login, this is for 'roster'
// = link_to 'Sign Up', new_event_booking_path(@event)


= render 'footer'
        
